html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'nepal';
  src: url('/fonts/nepali.ttf');
}

@font-face {
  font-family: 'calibri';
  src: url('/fonts/calibri.ttf');
}

@font-face {
  font-family: 'consolas';
  src: url('/fonts/consolas.ttf');
}

.nepal {
  font-family: nepal;
}

.calibri {
  font-family: calibri;
  font-weight: bold;
  color: #000;
}

.consolas {
  font-family: consolas;
  font-weight: bold;
  color: #000;
}

:global {
  @media print {
    .ant-menu,
    .ant-layout-header .noprint {
      display: none;
      height:0;
    }
    .ant-layout-header {
      display: none;
      height:0;
    }
  }
}

@media print {
  .ant-menu,
  .ant-layout-header .noprint {
    display: none;
    height:0;
  }
  .ant-layout-header {
    display: none;
    height:0;
  }
}


   
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff!important;
  background: #2681ff!important;
  border-color: #2681ff!important;
  &:hover {
    color: #fff!important;
    background: #4f9eff!important;
    border-color: #4f9eff!important;
  }
} 